body {
  font-family: Source Sans Pro;
  background-color: #f0f0f0;
}

label {
  font-weight: bold;
}

.card {
  border: 1px solid #ccc;
}

footer {
  margin-top: 50px;
}

.hidden {
  display: none;
}
